extends layout

block content

    div.container-ch
        div.chart-container
            canvas(style="display: block;")#tempChart

        div.chart-container
            canvas(style="display: block;")#humChart

        div.chart-container
            canvas(style="display: block;")#presChart
