doctype html
html
  head
    title=title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/popper.min.js')
    script(src="/js/jquery.min.js")
    script(src='/js/socket.io.slim.js')
    script(src="/js/myscript.js")
    script(src='/js/moment.min.js')
    script(src='/js/Chart.min.js')

  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a(href='/').navbar-brand Project
      button(type='button', data-toogle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toogle navigation').navbar-toggler
        span.navbar-toggler-icon
      div#navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a(href='/bme_sensor/temperature').nav-link Temperature
          li.nav-item
            a(href='/bme_sensor/humidity').nav-link Humidity
          li.nav-item
            a(href='/bme_sensor/pressure').nav-link Pressure
    script.
      document.body.style.marginTop = '5%'
    block content
