doctype html
html
  head
    title= title
    script(src="/js/jquery.js")
    script(src='/js/socket.io.js')
    script(src="/js/myscript.js")
    script(src='/js/moment.js')
    script(src='/js/Chart.js')

  body
    a(href='/bme_sensor/temperature')#linktest KAKSKSAKS
    block content
